.input-error {
    border: 2px solid red;
    background-color: #ffe6e6;
}

.error-message {
    color: red;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.error-icon {
    color: red;
    font-weight: bold;
}

.container {
    display: flex;          /* flex-контейнер */
    justify-content: center; /* центрирование по горизонтали */
    align-items: center;     /* центрирование по вертикали */
    height: 100vh;           /* высота 100% экрана */
    
}

.input-field {
    width: 100%;         /* Растягиваем поле на всю ширину родителя */
    height: 50px;        /* Делаем поле выше */
    font-size: 18px;     /* Увеличиваем размер шрифта */
    padding: 10px;       /* Добавляем внутренние отступы */
    border: 1px solid #ccc; /* Граница поля */
    border-radius: 5px;  /* Скругляем углы */
}